@model IEnumerable<AdminPortalModels.Models.SchoolIndexModel>

@{
    ViewBag.Menu = "Settings";
    ViewBag.SubMenu = "Schools";

    ViewBag.Title = "Schools";
}

<link rel="stylesheet" href="~/Content/School.css" />
<link href="~/Content/CustomCSS/viewButtons.css" rel="stylesheet" />
<link rel="stylesheet" href="/Content/Pages/HomeRoom.css" />

@Html.Hidden("viewSchools", MSA_AdminPortal.Helpers.SecurityManager.viewSchools)
@Html.Hidden("CreateSchools", MSA_AdminPortal.Helpers.SecurityManager.CreateSchools)
@Html.Hidden("UpdateSchools", MSA_AdminPortal.Helpers.SecurityManager.UpdateSchools)
@Html.Hidden("DeleteSchools", MSA_AdminPortal.Helpers.SecurityManager.DeleteSchools)

<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h2>@ViewBag.Title</h2>
        <ul class="page-breadcrumb breadcrumb">
            <li class="btn-group pull-right">
                <button type="button" class="btn default btn-md pull-right marginTileBtn unselectedBtn" title="List View" onclick="javascript:location.href='/School/Table'">
                    List View
                </button>
                <button type="button" class="btn default btn-md pull-right selectedBtn" title="Tile View" onclick="javascript:location.href='/school/Tile'">
                    Tile View
                </button>
            </li>
            <li>
                <i class="fa fa-cogs fa-fw"></i>
                <a href="#"> @ViewBag.Menu</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#"> @ViewBag.SubMenu </a>
            </li>
        </ul>
        <div class="col-md-2" style="margin-bottom: 10px; padding-left: 0px;">
            <div class="btn-group pull-left" id="DivAddNewSchool">
                <a id="aAddNewSchool" href="#" onclick="location.href='@Url.Action("Create")'" data-toggle="modal" class="ActionLink" data-id='0'>
                    <div id="sub-div">   <button type="button" id="btnAddNewSchool" class="btn green">Add New School</button></div>
                </a>
            </div>
        </div>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">

            @foreach (var school in Model)
            {
                Html.RenderPartial("Row", school);
            }

        </div>

    </div>
</div>

@{Html.RenderAction("Delete");}

<script src="~/Scripts/School.js" type="text/javascript"></script>