@model IEnumerable<AdminPortalModels.Models.HomeRoomIndexModel>

@{
    ViewBag.Menu = "Customer Data";
    ViewBag.SubMenu = "Homerooms";

    ViewBag.Title = "Homerooms";
}

<input type="hidden" id="ViewType" value="@ViewBag.ViewType" />
<input type="hidden" id="ClientID" value="@ViewBag.ClientID" />

<link rel="stylesheet" href="/Content/Pages/HomeRoom.css" />
<link href="~/Content/CustomCSS/viewButtons.css" rel="stylesheet" />

@Html.Hidden("CreateHomerooms", MSA_AdminPortal.Helpers.SecurityManager.CreateHomerooms)
@Html.Hidden("UpdateHomerooms", MSA_AdminPortal.Helpers.SecurityManager.UpdateHomerooms)
@Html.Hidden("DeleteHomerooms", MSA_AdminPortal.Helpers.SecurityManager.DeleteHomerooms)

<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h2>@ViewBag.Title</h2>
        <ul class="page-breadcrumb breadcrumb">
            <li class="btn-group pull-right">
                <button type="button" class="btn default btn-md pull-right marginTileBtn unselectedBtn" title="List View" onclick="javascript:location.href='/Homeroom/Table'">
                    List View
                </button>
                <button type="button" class="btn default btn-md pull-right selectedBtn" title="Tile View" onclick="javascript:location.href='/Homeroom/Tile'">
                    Tile View
                </button>
            </li>
            <li>
                <i class="fa fa-user fa-fw"></i>
                <a href="#">@ViewBag.Menu</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#"> @ViewBag.SubMenu</a>
            </li>
        </ul>
        <div class="row" style="padding-bottom: 15px;">
            <div class="col-md-2">
                <a href="#" onclick="location.href='@Url.Action("Create", new { Length = 8 })'" id="aAddNewButton" data-toggle="modal" class="ActionLink" data-id='0'>
                    <div id="sub-div">
                        <button id="AddNewButton" class="btn green col-md-12 ">
                            Add Homeroom
                        </button>
                    </div>
                </a>
            </div>
            <div class="col-md-10">
                <div class="alert alert-danger display-hide" style="padding: 9px; width: 360px;">
                    <button class="close" data-close="alert"></button>
                    You have some form error, please check in all tabs.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            @foreach (var homeroom in Model)
            {
                Html.RenderPartial("Row", homeroom);
            }
        </div>
    </div>
</div>

@{Html.RenderAction("Delete");}
<script src="~/Scripts/Homeroom/Homeroom.js" type="text/javascript"></script>



