@model MSA_AdminPortal.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Food Service Solutions | Admin Headquarters</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta name="MobileOptimized" content="320">

    @Styles.Render("~/content/metronic/mandatory/css")

    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="/content/themes/assets/global/plugins/select2/select2_metro.css" />
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->

    @Styles.Render("~/content/metronic/theme/css")

    <link href="/content/themes/assets/admin/pages/css/login.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->

    @Styles.Render("~/content/custom/css")


    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- BEGIN BODY -->
<body class="login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <img src="/content/img/logo-big.png" alt="" />
    </div>
    <!-- END LOGO -->
    <div class="portlet-title">
        <div class="caption">
            ADMIN <strong>HEADQUARTERS</strong>
        </div>

    </div>
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->

        @using (Html.BeginForm("Login", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form" }))
        {
            @Html.AntiForgeryToken()
@*<form class="login-form" action="index.html" method="post">

            *@<h4 class="form-title">Login to Admin.</h4>
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span>Enter any username and password.
                </span>
            </div>@*
            
             <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span>            
                    *@
            
            @Html.ValidationSummary()
@*
                </span>
            </div>*@
            
            
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Username</label>
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    @*@Html.EditorFor(model => model.UserName, new { @class = "form-control placeholder-no-fix" }, { "placeholder", "Username" },{"name","username"} )*@
                    <input class="form-control placeholder-no-fix" type="text" placeholder="Username" name="username" value="@Model.UserName" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    @*@Html.EditorFor(model => model.Password, new { attributes = new Dictionary<string, string>() { { "class", "form-control placeholder-no-fix" }, { "placeholder", "Password" },{"name","password"} , {"type","password"}} })*@
                    <input class="form-control placeholder-no-fix" type="password" placeholder="Password" name="password" value="@Model.Password" />
                </div>
            </div>
            <div class="form-actions">
                <label class="checkbox">
                    @Html.EditorFor(model => model.RememberMe)
                    Remember me
                </label>
                <button type="submit" class="btn blue pull-right">
                    Login <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>
@*</form>*@
        }
        <!-- END LOGIN FORM -->
    </div>
    <!-- END LOGIN -->
    <!-- BEGIN COPYRIGHT -->
    <div class="copyright">
        @DateTime.Now.Year &copy Food Service Solutions, Inc.
    </div>

    <!-- END COPYRIGHT -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
	<script src="/content/themes/assets/global/plugins/respond.min.js"></script>
	<script src="/content/themes/assets/global/plugins/excanvas.min.js"></script> 
	<![endif]-->
    <script src="/content/themes/assets/global/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="/content/themes/assets/global/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <script src="/content/themes/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/content/themes/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="/content/themes/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/content/themes/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="/content/themes/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="/content/themes/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/Content/themes/assets/global/plugins/bootstrap-daterangepicker/moment.min.js"></script>

    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="/content/themes/assets/global/plugins/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/content/themes/assets/global/plugins/select2/select2.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/Content/themes/assets/global/scripts/metronic.js"></script>
    <script src="~/Content/themes/assets/admin/layout/scripts/layout.js"></script>
    <script src="/content/themes/assets/admin/pages/scripts/login.js" type="text/javascript"></script>    

    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            Login.init();
            //postUserTimeZone();
        });
        
    </script>
    
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
