@model AdminPortalModels.Models.GradeUpdateModel

@{
    ViewBag.Menu = "Customer Data";
    ViewBag.SubMenu = "Grades";
}
<link rel="stylesheet" href="~/Content/Shared/Create Page/CreatePage.css" />

@Html.HiddenFor(model => model.Id)

<!-- Begin Page Title and Breadcrumb -->
<div class="row">
    <div class="col-md-12">
         <h2>Edit Grade</h2>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-user fa-fw"></i>
                <a href="#"> @ViewBag.Menu </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#"> @ViewBag.SubMenu</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Edit </a>
            </li>
        </ul>
    </div>
</div>
<!-- End Page Title and Breadcrumb -->
<div class="row" style="padding: 0 15px 0 15px; overflow: hidden;">
    <div class="col-md-12">
        <div class="row" style="border-top: 1px solid rgb(229, 229, 229); border-bottom: 1px solid rgb(229, 229, 229);">
          
                <div class="col-md-6 form-horizontal" style="padding-top: 20px; padding-bottom:10px;">
                    @if (Model.IsError)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-danger" style="padding: 9px;">
                                    <button class="close" data-close="alert"></button>
                                    @Model.Message
                                </div>
                            </div>
                        </div>
                    }
                    <div class="form-body">
                        <div class="form-group">

                            <label for="Name" class="col-md-3 control-label">Grade <span class="required">*</span></label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", maxlength = 15 })
                            </div>
                        </div>
                        <div class="form-actions top fluid">
                            <div class="col-md-offset-3 col-md-9">
                                <button value="Submit" name="action" id="btnGradeEdit" class="btn blue btn-lg submitClass defaultBtnClass">Save</button>
                                <button value="Cancel" name="action" class="btn btn-lg default not-default-btn" onclick="RedirectToIndex('/Grade');">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            
        </div>
    </div>
</div>

<script src="~/Scripts/Grades/GradeEdit.js"></script>
