@model AdminPortalModels.Models.GradeModels

<div id="gradeTile" class="col-md-3 col-sm-6 col-xs-12 TileView">
    <a class="ActionLink removeAnchorStyle EditSecurityClass" href="~/Grade/Edit/@Model.Id" data-id="@Model.Id">
        <div class="dashboard-stat grey">
            <div class="row">
                <div class="Title col-md-12" id="grade-@Model.Id" data-id="@Model.Id">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </div>
            <div class="row">
                <div class="visual col-md-4">
                    <i class="fa fa-university"></i>
                </div>
                <div class="stats col-md-8">
                </div>
            </div>
        </div>
    </a>
    <div class="footerdiv">
        <div class="col-md-8 col-sm-6"></div>
        <div class="btn-group action pull-right col-md-4 col-sm-6 col-xs-12" style="padding-right: 5px;">
            <button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                <span>Actions
                </span>
                <i class="fa fa-cog"></i>
            </button>
            <ul class="dropdown-menu align-right" role="menu">
                <li>
                    @Html.ActionLink("Edit", "Edit", new { Id = Model.Id }, new { @class = "ActionLink EditSecurityClass ", data_id = Model.Id })
                </li>
                <li>
                    @Html.ActionLink("Delete", "Delete", new { Id = Model.Id }, new { href = "#Delete", data_toggle = "modal", data_backdrop = "static", data_keyboard = "false", @class = "DeleteLink DeleteSecurityClass", data_id = Model.Id })
                </li>
            </ul>
        </div>
    </div>
</div>
