@model  IEnumerable<AdminPortalModels.Models.CategoryIndexModel>

@{
    ViewBag.Menu = "Menu";
    ViewBag.SubMenu = "Categories";

    ViewBag.Title = "Categories";
}

<link rel="stylesheet" type="text/css" href="/Content/themes/assets/global/plugins/bootstrap-colorpicker/css/colorpicker.css" />
<link href="/Content/Category.css" rel="stylesheet" />
@*<link href="~/Content/CustomCSS/Items.css" rel="stylesheet" />*@
<link href="/content/menuitem.css" rel="stylesheet" />
<link href="~/Content/CustomCSS/viewButtons.css" rel="stylesheet" />

<!-- BEGIN PAGE CONTENT-->
<div class="row">
    
     @Html.Hidden("CreateCategories", MSA_AdminPortal.Helpers.SecurityManager.CreateCategories)
    @Html.Hidden("UpdateCategories", MSA_AdminPortal.Helpers.SecurityManager.UpdateCategories)
     @Html.Hidden("DeleteCategories", MSA_AdminPortal.Helpers.SecurityManager.DeleteCategories)
    @Html.Hidden("ViewMenu", MSA_AdminPortal.Helpers.SecurityManager.viewMenu)

    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h2>Categories</h2>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-user fa-sitemap"></i>
                <a href="#">Menu</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
          
            <li class="btn-group pull-right">
                <button type="button" class="btn default btn-md pull-right marginTileBtn unselectedBtn" title="List View" onclick="RedirectToIndex('/Category/Table');">
                    List View
                </button>
                <button type="button" class="btn default btn-md pull-right selectedBtn" title="Tile View" onclick="RedirectToIndex('/Category/Tile');">
                    Tile View
                </button>

            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>

<div class="row" style="margin-bottom: 15px;">
    <div class="col-md-6">
        <div class="btn-group pull-left">
            <a href="#CreateOrEdit" id="aAddNewButton" data-toggle="modal" data-backdrop="static" data-keyboard="false" class="ActionLink" data-id='0'>
                <div id="sub-div">   <button id="AddNewButton" class="btn green" style="width: 175px;">
                    Add New Category
                </button></div>
            </a>
        </div>
    </div>

    <div class="col-md-6">
    </div>


</div>

<div class="row">
    <div class="col-md-12">
        <div class="row" style="margin-right: -30px;">

            @foreach (var category in Model)
            {
                Html.RenderPartial("Row", category);
            }

        </div>

    </div>
</div>

@{Html.RenderAction("Popup");}
@{Html.RenderAction("Delete");}
