<!DOCTYPE html>
@model AdminPortalModels.ViewModels.Application
<style>
    html, body {
        height: 100%;
    }

    table {
        border-collapse: collapse;
    }

    .border_display {
        border-style: solid;
        border-color: lightgray;
        border-width: 1px;
        border-collapse: collapse;
    }

    table.table-td-border td {
        border-style: solid;
        border-color: gray;
        border-width: 1px;
        height: 45px;
    }

    .td-settings {
        text-align: center;
        width: 17px;
        height: 20px;
    }

    .income-type-header {
        width: 25px;
        height: 15px;
        padding: 0px;
        font-size: 7px;
        font-family:Arial;
    }

    .height-20 {
        height: 20px;
    }

    /*Font Sizes*/
    .font-15 {
        font-size: 15px;
    }
     .font-14 {
        font-size: 14px;
    }
     .font-13 {
        font-size: 13px;
    }

    .font-12 {
        font-size: 12px;
    }

    .font-10 {
        font-size: 10px;
    }

    .font-9 {
        font-size: 9px;
    }

    .font-8 {
        font-size: 8px;
    }

    .font-7 {
        font-size: 7px;
    }

    .font-6 {
        font-size: 6px;
    }
    /*Font Weights*/
    .font-bold {
        font-weight: bold;
    }

    /*margins*/
    .no-margin {
        margin: 0px;
    }

    .all-margin-5 {
        margin: 5px;
    }

    .top-margin-7 {
        margin-top: 7px;
    }

    .top-margin-10 {
        margin-top: 10px;
    }

    .top-margin-15 {
        margin-top: 15px;
    }

    .top-margin-20 {
        margin-top: 20px;
    }

    .left-margin-5 {
        margin-left: 5px;
    }

    .left-margin-10 {
        margin-left: 10px;
    }

    .left-margin-15 {
        margin-left: 15px;
    }

    /*paddings*/
    .all-padding-3 {
        padding: 3px;
    }

    /*Step Header*/
    div .step-header {
        margin-top: 8px;
        background-color: #33AE6F;
        color: white;
        white-space: nowrap;
    }

        div .step-header table {
            height: 27px;
        }

        div .step-header td:first-child {
            background-color: #1F823F;
            font-size: 13px;
            width: 65px;
        }

        div .step-header td:last-child {
            font-size: 10px;
            font-weight: bold;
        }

        div .step-header strong, div .step-header span {
            margin-left: 5px;
            margin-right: 10px;
        }

    /*Float Left*/
    .float-left {
        float: left;
    }

    div .inner-divs-float-left div {
        float: left;
    }

    .display-flex {
        display: flex;
    }


    .definitation-box {
        border-style: solid;
        border-color: gray;
        border-width: 1px;
        float: left;
        margin-top: 15px;
        width: 110px;
    }

        .definitation-box p {
            font-size: 8px;
            margin: 5px 5px 0px 5px;
        }

    div .display-td {
        float: left;
        margin-top: 15px;
        margin-left: 15px;
    }

        div .display-td td {
            border-width: 1px;
            border-color: lightgray;
            border-style: solid;
            text-align: center;
            width: 17px;
            height: 20px;
        }

        div .display-td tr:nth-child(even) td {
            border-width: 0px;
            border-color: none;
            border-style: none;
            text-align: center;
            width: 17px;
            height: 3px;
        }

    .div-settings-1 {
        float: left;
        margin-top: 10px;
        margin-left: 15px;
        font-size: 8px;
    }

    .div-settings-2 {
        float: left;
        margin-top: 5px;
        margin-left: 5px;
        font-size: 7.49px;
        text-align: left;
    }

    div .display-tr tr {
        border-width: 1px;
        border-color: lightgray;
        border-style: solid;
        width: 100px;
        height: 21px;
    }

        div .display-tr tr:nth-child(even) {
            border-width: 0px;
            border-color: none;
            border-style: none;
            text-align: center;
            width: 21px;
            height: 3px;
        }

    .instructions-box {
        border-style: solid;
        border-width: 1px;
        border-color: gray;
        width: 220px;
        margin-top: 10px;
        float: left;
    }

        .instructions-box p {
            font-size: 8px;
            margin: 5px;
            word-wrap:break-word;
            vertical-align:middle;
            padding-top:50%;
        }

    .text-center {
        text-align: center;
    }

    .middle {
        vertical-align: middle;
    }

        .middle.step4 span {
            vertical-align: middle;
            margin-left: 5px;
        }

    div.instructions-step {
        font-size: 10px;
        overflow: auto;
        margin-top: 10px;
        /*page-break-before: always;*/
        width: 100%;
    }

        div .instructions-step .first-table {
            height: 200px;
        }

        div .instructions-step .second-table {
            height: 100%;
        }

        div.instructions-step table {
            width: 100%;
            word-wrap: break-word;
        }

        div .instructions-step td {
            border-style: solid;
            border-color: lightgray;
            border-width: 1px;
            height: 45px;
            padding-left: 5px;
        }

        div .instructions-step tr:first-child td {
            font-size: 12px;
            text-align: center;
            height: auto;
        }

        div .instructions-step .first-table tr:nth-child(2) td {
            text-align: center;
            width: 50%;
            height: 25px;
        }

        div .instructions-step .second-table tr:nth-child(2) td {
            text-align: center;
            width: 33%;
            height: auto;
        }

        div .instructions-step .second-table tr:nth-child(3) td {
            width: 33%;
            height: 195px;
        }

    .vertical-line {
        float:left;
        border-left-color: black;
        border-left-style: solid;
        border-left-width: 1px;
        border-collapse: collapse;
        margin-top: 30px;
        margin: 30px 5px 10px 1px;
    }

    .vertical-text {
        float:left;
        padding-top:11%;
        
    }

    .vertical-text span{
        letter-spacing: 0.1em;
        /*float: left;                 /* NOOOOOOOOOOOO :) */
        display: inline-block; /* use this instead of float:left */
        transform: rotate(-90deg) translateY(50%); /* Add: translateY 50% */
        width: 3em; /* same as font size (OR A BIT SMALLER) */
        text-align: center; /* to center text inside the red thing */
        vertical-align:top; /* top to "center" span... (yeah I know...) */
        /*background: rgba(255,0,0,0.1); just to see what the heck we're doing */
        white-space: nowrap; /* prevent small text wrap at 8em */
    }

    /* Hexagone*/
    .box {
  width: 120px;
  background-color: transparent;  
  margin-bottom: 20px;
  padding: 10px;
  position: relative;
  border:1px solid black;
}
.box:before, .box:after {
  width: 20px;
  height: 50%;
  position: absolute;
  left: 100%;
  content: "";
}
.box:before {
  top: 0px;
  background: linear-gradient(to right top, black 50%, rgba(0, 0, 0, 0) 50%);
}
.box:after {
  top: 50%;
  background: linear-gradient(to right bottom, #307084 50%, rgba(0, 0, 0, 0) 50%);
}

.page-break {
    page-break-before: always;
}
</style>
<div class="font-10" style="font-family:Arial; margin-top:10px;">
<div>
    <label style="font-family:'Arial Black'" class="font-14">Household Application for Free and Reduced Price School Meals</label>
    <label class="font-14" style="margin-left:120px;">Apply online:</label><a class="font-10" style="margin-left:5px;">www.myschoolaccount.com</a>
</div><div class="font-12">Complete one application per household. Please use a pen (not a pencil).</div>
<div id="Step_1_header" class="step-header">
    <table cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td>
                <strong>STEP 1</strong>
            </td>
            <td>
                <span>List ALL Household Members who are infants, children, and students up to and including grade 12 (if more spaces are required for additional names, attach another sheet of paper)</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div id="Step_1_Detail" style="overflow:auto;">
<div class="float-left display-flex">
<div class="definitation-box">
    <p>
        Definition of <b>
            Household
            Member
        </b>: "Anyone who is
        living with you and shares
        income and expenses, even
        if not related."<br /><br />
        Children in <b>Foster care</b> and
        children who meet the
        definition of <b>Homeless</b>,
        <b>Migrant</b> or <b>Runaway</b> are
        eligible for free meals. Read
        <b>
            How to Apply for Free and
            Reduced Price School
            Meals
        </b> for more information.
    </p>
</div>
<div id="Child_First_Name" class="display-td">
    <strong>Child’s First Name</strong>
    <div style="margin-top:5px;">
        <table cellpadding="0" cellspacing="0">
            @foreach (var stud in Model.Students)
            {
                <tr>
                    @for (int j = 0; j < 15; j++)
                    {
                        <td>
                            @if (@stud.First_Name.Length > j)
                            {
                                @stud.First_Name[j].ToString().ToUpper();
                            }
                        </td>
                    }
                </tr>
                <tr>
                    <td></td>
                </tr>
            }
            @foreach (var stud in Model.StudentsNotEnrolled)
            {
                <tr>
                    @for (int j = 0; j < 15; j++)
                    {
                        <td>
                            @if (@stud.First_Name.Length > j)
                            {
                                @stud.First_Name[j].ToString().ToUpper();
                            }
                        </td>
                    }
                </tr>
                <tr>
                    <td></td>
                </tr>
            }
            @if (Model.Students.Count() + Model.StudentsNotEnrolled.Count() < 5)
            {
                for (int i = (Model.Students.Count() + Model.StudentsNotEnrolled.Count()); i < 5; i++)
                {
                    <tr>
                        @for (int j = 0; j < 15; j++)
                        {
                            <td></td>
                        }
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                }
            }
        </table>
    </div>
</div>

<div id="Child_Middle_Name" class="display-td">
    <strong>MI</strong>
    <div style="margin-top:5px;">
        <table cellpadding="0" cellspacing="0">
            @foreach (var stud in Model.Students)
            {
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(stud.Middle))
                        {
                            @stud.Middle.ToString().ToUpper();
                        }
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            }
            @foreach (var stud in Model.StudentsNotEnrolled)
            {
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(stud.Middle))
                        {
                            @stud.Middle.ToString().ToUpper();
                        }
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            }
            @if (Model.Students.Count() + Model.StudentsNotEnrolled.Count() < 5)
            {
                for (int i = (Model.Students.Count() + Model.StudentsNotEnrolled.Count()); i < 5; i++)
                {
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
<div id="Child_Last_Name" class="display-td" style="margin-left:10px;">
    <strong>Child’s Last Name</strong>
    <div style="margin-top:5px;">
        <table cellpadding="0" cellspacing="0">
            @foreach (var stud in Model.Students)
            {
                <tr>
                    @for (int j = 0; j < 20; j++)
                    {
                        <td>
                            @if (@stud.Last_Name.Length > j)
                            {
                                @stud.Last_Name[j].ToString().ToUpper();
                            }
                        </td>
                    }
                </tr>
                <tr>
                    <td></td>
                </tr>
            }
            @foreach (var stud in Model.StudentsNotEnrolled)
            {
                <tr>
                    @for (int j = 0; j < 20; j++)
                    {
                        <td>
                            @if (@stud.Last_Name.Length > j)
                            {
                                @stud.Last_Name[j].ToString().ToUpper();
                            }
                        </td>
                    }
                </tr>
                <tr>
                    <td></td>
                </tr>
            }
            @if (Model.Students.Count() + Model.StudentsNotEnrolled.Count() < 5)
            {
                for (int i = (Model.Students.Count() + Model.StudentsNotEnrolled.Count()); i < 5; i++)
                {
                    <tr>
                        @for (int j = 0; j < 20; j++)
                        {
                            <td></td>
                        }
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
<div id="Child_Grade" class="display-td">
    <strong>Grade</strong>
    <div style="margin-top:5px;">
        <table cellpadding="0" cellspacing="0">
            @foreach (var stud in Model.Students)
            {
                <tr>
                    @for (int j = 0; j < 2; j++)
                    {
                        <td>
                            @if (!string.IsNullOrEmpty(@stud.Grade) && @stud.Grade.Length > j)
                            {
                                @stud.Grade[j].ToString().ToUpper();
                            }
                        </td>
                    }
                </tr>
                <tr>
                    <td></td>
                </tr>
            }
            @foreach (var stud in Model.StudentsNotEnrolled)
            {
                <tr>
                    @for (int j = 0; j < 2; j++)
                    {
                        <td></td>
                    }
                </tr>
                <tr>
                    <td></td>
                </tr>
            }
            @if (Model.Students.Count() + Model.StudentsNotEnrolled.Count() < 5)
            {
                for (int i = (Model.Students.Count() + Model.StudentsNotEnrolled.Count()); i < 5; i++)
                {
                    <tr>
                        @for (int j = 0; j < 2; j++)
                        {
                            <td></td>
                        }
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
<div id="Is_Student" class="div-settings-1">
    <div style="text-align:center;">
        Students?
    </div>
    <table>
        <tr>
            <td>Yes</td>
            <td width="25px;"></td>
            <td>No</td>
        </tr>
    </table>
    <div class="display-tr" style="margin:0px;">
        <table cellpadding="0" cellspacing="0">
            @foreach (var stud in Model.Students)
            {
                <tr>
                    <td>
                        <input type="checkbox" checked="checked" style="margin:3px 0px 3px 5px;" />
                    </td>
                    <td>
                        <input type="checkbox" style="margin:3px 5px 3px 20px;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="height:3px;"></div>
                    </td>
                </tr>
            }
            @foreach (var stud in Model.StudentsNotEnrolled)
            {
                <tr>
                    <td>
                        <input type="checkbox" style="margin:3px 0px 3px 5px;" />
                    </td>
                    <td style="margin-left:10px;">
                        <input type="checkbox" checked="checked" style="margin:3px 5px 3px 20px;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="height:3px;"></div>
                    </td>
                </tr>
            }
            @if (Model.Students.Count() + Model.StudentsNotEnrolled.Count() < 5)
            {
                for (int i = (Model.Students.Count() + Model.StudentsNotEnrolled.Count()); i < 5; i++)
                {
                    <tr>
                        <td>
                            <input type="checkbox" style="margin:3px 0px 3px 5px;" />
                        </td>
                        <td style="margin-left:10px;">
                            <input type="checkbox" style="margin:3px 5px 3px 20px;" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="height:3px;"></div>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
<div class="vertical-text">
    <span>
        Check all that apply
    </span>
</div>
<div class="vertical-line">

</div>
<div id="Child_Special-Circumstances" class="div-settings-2" style="font-family:sans-serif 'Times New Roman', Times, serif;">
    <table>
        <tr>
            <td style="vertical-align:bottom;">Foster<br />Child</td>
            <td width="5px;"></td>
            <td style="vertical-align:top;">Homeless,<br />Migrant,<br />Runaway</td>
        </tr>
    </table>
    <div class="display-tr" style="margin-top:0px; padding:0px;">
        <table cellpadding="0" cellspacing="0">
            @foreach (var stud in Model.Students)
            {
                <tr>
                    <td>
                        <input type="checkbox" checked="@stud.Foster" style="margin:3px 0px 3px 5px;" />
                    </td>
                    <td>
                        <input type="checkbox" checked="@(!Model.SpecialCircum.Contains("Not provided"))" style="margin:3px 5px 3px 20px;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="height:3px;"></div>
                    </td>
                </tr>
            }
            @foreach (var stud in Model.StudentsNotEnrolled)
            {
                <tr>
                    <td>
                        <input type="checkbox" checked="@stud.FosterChild" style="margin:3px 0px 3px 5px;" />
                    </td>
                    <td style="margin-left:10px;">
                        <input type="checkbox" checked="@(!Model.SpecialCircum.Contains("Not provided"))" style="margin:3px 5px 3px 20px;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="height:3px;"></div>
                    </td>
                </tr>
            }
            @if (Model.Students.Count() + Model.StudentsNotEnrolled.Count() < 5)
            {
                for (int i = (Model.Students.Count() + Model.StudentsNotEnrolled.Count()); i < 5; i++)
                {
                    <tr>
                        <td>
                            <input type="checkbox" style="margin:3px 0px 3px 5px;" />
                        </td>
                        <td style="margin-left:10px;">
                            <input type="checkbox" style="margin:3px 5px 3px 20px;" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="height:3px;"></div>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
</div>
</div>
<div id="Step_2_header" class="step-header">
    <table cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td>
                <strong>STEP 2</strong>
            </td>
            <td>
                <span>Do any Household Members (including you) currently participate in one or more of the following assistance programs: SNAP, TANF, or FDPIR?</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div id="Step_2_Detail" style="overflow:auto;">
    <div id="Step_2_No_Participation" class="float-left" style="margin:10px 0px 0px 100px;">
        <input type="checkbox" id="chkNo" checked="@(Model.IsStep3)" />
        <label for="chkNo"><strong>NO</strong></label>
    </div>
    <div style="margin:15px 0px 0px 60px; float:left;">
        <label> Go to STEP 3</label>
    </div>
    <div id="Step_2_Yes" style="float:left; margin:10px 0px 0px 30px;">
        <input type="checkbox" id="chkYes" checked="@(!Model.IsStep3)" />
        <label for="chkYes"><b>If YES</b><span style="margin-left:10px;"></span>Write a case number here then go to STEP 4 (<u>Do not complete STEP 3</u>) </label>
    </div>
    <div id="Step_2_Case_Number" style="float:left; margin:10px 0px 0px 25px">
        <div class="border_display" style="vertical-align:middle; width:280px; padding:5px;">
            <label><strong>Case Number:</strong></label>
            <label style="margin-left:5px;">@Model.Case_Number</label>
        </div>
    </div>
</div>
<div id="Step_3_Header" class="step-header">
    <table cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td>
                <strong>STEP 3</strong>
            </td>
            <td>
                <span>Report Income for ALL Household Members (Skip this step if you answered ‘Yes’ to STEP 2)</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div id="Setp_3_Detail" style="overflow:auto;">
<div class="float-left display-flex">
<div class="instructions-box">
    <p>
        Are you unsure what
        income to include here?
        <br />
        <br />
        Flip the page and review
        the charts titled "Sources
        of Income" for more
        information.
        <br />
        <br />
        The "Sources of Income
        for Children" chart will
        help you with the Child
        Income section.
        <br />
        <br />
        The "Sources of Income
        for Adults" chart will help
        you with the All Adult
        Household Members
        section.
    </p>
</div>
<div class="float-left font-8" style="margin:3px 0px 0px 10px;">
<div id="Child_Income" class="float-left">
    <div class="float-left top-margin-7">
        <strong class="font-10">A. Child Income</strong><br />
        <span class="font-9">
            Sometimes children in the household earn or receive income. Please include the TOTAL income received by all<br />
            Household Members listed in STEP 1 here.
        </span>
    </div>
    <div class="float-left" style="margin-left:30px;">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td style="vertical-align:bottom;">
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td></td>
                            <td colspan="4">
                                Child Income
                            </td>
                        </tr>
                        <tr>
                            <td class="font-15"><strong class="middle" style="margin-right:3px;">&#36;</strong></td>
                            @for (int j = 0; j < 4; j++)
                            {
                                <td class="border_display font-12 td-settings">
                                    @if (@Model.StudentsTotalIncome.HasValue && Model.StudentsTotalIncome.ToString().Count() > j && Model.IsStep3)
                                    {
                                        @Model.StudentsTotalIncome.ToString()[j];
                                    }
                                </td>
                            }
                        </tr>
                    </table>
                </td>
                <td>
                    <table class="text-center" cellpadding="0" cellspacing="0" style="margin-left:5px; white-space:nowrap;">
                        <tr>
                            <td colspan="5">
                                How often?
                            </td>
                        </tr>
                        <tr class="border_display font-6">
                            <td class="border_display income-type-header">Weekly</td>
                            <td class="border_display income-type-header">Bi-Weekly</td>
                            <td class="border_display income-type-header">2x Month</td>
                            <td class="border_display income-type-header">Monthly</td>
                            <td class="border_display income-type-header">Yearly</td>
                        </tr>
                        <tr class="border_display">
                            @for (int j = 1; j <= 5; j++)
                            {
                                <td class="td-settings">
                                    <input type="radio" checked="@(j == Model.StudentsTotalIncomeFreq && Model.IsStep3)" />
                                </td>
                            }
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
<div style="clear:both;">
</div>
<div class="top-margin-10">
    <div>
        <strong class="font-10">B. All Adult Household Members (including yourself)</strong><br />
        <span class="font-9">
            List all Household Members not listed in STEP 1 (including yourself) even if they do not receive income. For each Household Member listed, if they do receive income, report total gross income (before taxes)
            for each source in whole dollars (no cents) only. If they do not receive income from any source, write ‘0’. If you enter ‘0’ or leave any fields blank, you are certifying (promising) that there is no income to report
        </span>
    </div>
</div>
<div id="Adult_Household_Members_Income_Detail">
<div id="Adult_Househol_Member_Name" class="float-left" style="margin-top:16px;">
    <div>
        Name of Adult Household Members (First and Last)
    </div>
    @foreach (var mem in Model.Members)
    {
        <div class="border_display font-12" style="width:170px; height:20px; margin-top:3px;">
            <div style="margin-left:5px;">
                @if (Model.IsStep3)
                {
                    @mem.First_Name <span width="10px;"></span>@mem.Last_Name
                }
            </div>
        </div>
    }
    @for (int i = Model.Members.Count(); i < 5; i++)
    {
        <div class="border_display" style="width:170px; height:20px; margin-top:3px;">

        </div>
    }
</div>
<div id="Household_Earnings_From_Work" class="float-left" style="margin-left:10px;">
    <table cellpadding="0" cellspacing="0" style="margin-top:5px;">
        <tr>
            <td style="vertical-align:bottom;">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td></td>
                        <td colspan="4">
                            Earnings from work
                        </td>
                    </tr>
                    @foreach (var mem in Model.Members)
                    {
                        <tr>
                            <td class="font-10"><strong class="middle" style="margin-right:2px;">&#36;</strong></td>
                            @for (int j = 0; j < 4; j++)
                            {
                                <td class="border_display font-12 td-settings">
                                    @if (mem.WorkEarningsTotal.HasValue && mem.WorkEarningsTotal.Value.ToString().Count() > j && Model.IsStep3)
                                    {
                                        @mem.WorkEarningsTotal.Value.ToString()[j];
                                    }
                                </td>
                            }
                        </tr>
                        <tr style="height:4px;"></tr>
                    }
                    @for (int i = Model.Members.Count(); i < 5; i++)
                    {
                        <tr>
                            <td class="font-10"><strong class="middle" style="margin-right:2px;">&#36;</strong></td>
                            @for (int j = 0; j < 4; j++)
                            {
                                <td class="border_display td-settings"></td>
                            }
                        </tr>
                        <tr style="height:4px;"></tr>
                    }
                </table>
            </td>
            <td>
                <table class="text-center" cellpadding="0" cellspacing="0" style="margin-left:5px; white-space:nowrap;">
                    <tr>
                        <td colspan="5">
                            How often?
                        </td>
                    </tr>
                    <tr class="border_display">
                        <td class="border_display income-type-header">Weekly</td>
                        <td class="border_display income-type-header">Bi-Weekly</td>
                        <td class="border_display income-type-header">2x Month</td>
                        <td class="border_display income-type-header">Monthly</td>
                        <td class="border_display income-type-header">Yearly</td>
                    </tr>
                    @foreach (var mem in Model.Members)
                    {
                        <tr class="border_display">
                            @for (int j = 1; j <= 5; j++)
                            {
                                <td class="td-settings">
                                    <input type="radio" checked="@(mem.WorkingEarningTotalFreq == j && Model.IsStep3)" />
                                </td>
                            }
                        </tr>
                        <tr style="height:4px;"></tr>
                    }
                    @for (int i = Model.Members.Count(); i < 5; i++)
                    {
                        <tr class="border_display">
                            @for (int j = 1; j <= 5; j++)
                            {
                                <td class="td-settings">
                                    <input type="radio" />
                                </td>
                            }
                        </tr>
                        <tr style="height:4px;"></tr>
                    }
                </table>
            </td>
        </tr>
    </table>
</div>
<div id="Household_Earnings_From Public_Assistance" class="float-left" style="margin-left:10px;">
    <table cellpadding="0" cellspacing="0" style="margin-top:5px;">
        <tr>
            <td style="vertical-align:bottom;">
                <table cellpadding="0" cellspacing="0" style="white-space:nowrap;">
                    <tr>
                        <td></td>
                        <td colspan="4">
                            Public Assistance/<br />Child Support/Alimony
                        </td>
                    </tr>
                    @foreach (var mem in Model.Members)
                    {
                        <tr>
                            <td class="font-10"><strong class="middle" style="margin-right:2px;">&#36;</strong></td>
                            @for (int j = 0; j < 4; j++)
                            {
                                <td class="border_display font-12 td-settings">
                                    @if (mem.WelfareTotalIncome.HasValue && mem.WelfareTotalIncome.Value.ToString().Count() > j && Model.IsStep3)
                                    {
                                        @mem.WelfareTotalIncome.Value.ToString()[j];
                                    }
                                </td>
                            }

                        </tr>
                        <tr style="height:4px;"></tr>
                    }

                    @for (int i = Model.Members.Count(); i < 5; i++)
                    {
                        <tr>
                            <td class="font-10"><strong class="middle" style="margin-right:2px;">&#36;</strong></td>
                            @for (int j = 0; j < 4; j++)
                            {
                                <td class="border_display td-settings"></td>
                            }
                        </tr>
                        <tr style="height:4px;"></tr>
                    }
                </table>
            </td>
            <td>
                <table class="text-center" cellpadding="0" cellspacing="0" style="margin-left:5px; white-space:nowrap;">
                    <tr>
                        <td colspan="5">
                            How often?
                        </td>
                    </tr>
                    <tr class="border_display">
                        <td class="border_display income-type-header">Weekly</td>
                        <td class="border_display income-type-header">Bi-Weekly</td>
                        <td class="border_display income-type-header">2x Month</td>
                        <td class="border_display income-type-header">Monthly</td>
                        <td class="border_display income-type-header">Yearly</td>
                    </tr>
                    @foreach (var mem in Model.Members)
                    {
                        <tr class="border_display">
                            @for (int j = 1; j <= 5; j++)
                            {
                                <td class="td-settings">
                                    <input type="radio" checked="@(mem.WelfareTotalIncomeFreq == j && Model.IsStep3)" />
                                </td>
                            }
                        </tr>
                        <tr style="height:4px;"></tr>
                    }
                    @for (int i = Model.Members.Count(); i < 5; i++)
                    {
                        <tr class="border_display">
                            @for (int j = 1; j <= 5; j++)
                            {
                                <td class="td-settings">
                                    <input type="radio" />
                                </td>
                            }
                        </tr>
                        <tr style="height:4px;"></tr>
                    }
                </table>
            </td>
        </tr>
    </table>
</div>
<div id="Household_Earnings_From_Others" style="float:left; margin-left:10px;">
    <table cellpadding="0" cellspacing="0" style="margin-top:5px;">
        <tr>
            <td style="vertical-align:bottom;">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td></td>
                        <td colspan="4">
                            Pensions/Retirement/<br />All Other Income
                        </td>
                    </tr>
                    @foreach (var mem in Model.Members)
                    {
                        <tr>
                            <td class="font-10"><strong class="middle" style="margin-right:2px;">&#36;</strong></td>
                            @for (int j = 0; j < 4; j++)
                            {
                                <td class="border_display td-settings font-12">
                                    @if (mem.OtherTotalIncome.HasValue && mem.OtherTotalIncome.Value.ToString().Count() > j && Model.IsStep3)
                                    {
                                        @mem.OtherTotalIncome.Value.ToString()[j];
                                    }
                                </td>
                            }
                        </tr>
                        <tr style="height:4px;"></tr>
                    }
                    @for (int i = Model.Members.Count(); i < 5; i++)
                    {
                        <tr>
                            <td class="font-10"><strong class="middle" style="margin-right:2px;">&#36;</strong></td>
                            @for (int j = 0; j < 4; j++)
                            {
                                <td class="border_display td-settings"></td>
                            }
                        </tr>
                        <tr style="height:4px;"></tr>
                    }
                </table>
            </td>
            <td>
                <table class="text-center" cellpadding="0" cellspacing="0" style="margin-left:5px; white-space:nowrap;">
                    <tr>
                        <td colspan="5">
                            How often?
                        </td>
                    </tr>
                    <tr class="border_display">
                        <td class="border_display income-type-header">Weekly</td>
                        <td class="border_display income-type-header">Bi-Weekly</td>
                        <td class="border_display income-type-header">2x Month</td>
                        <td class="border_display income-type-header">Monthly</td>
                        <td class="border_display income-type-header">Yearly</td>
                    </tr>
                    @foreach (var mem in Model.Members)
                    {
                        <tr class="border_display">
                            @for (int j = 1; j <= 5; j++)
                            {
                                <td class="td-settings">
                                    <input type="radio" checked="@(mem.OtherTotalIncomeFreq == j && Model.IsStep3)" />
                                </td>
                            }
                        </tr>
                        <tr style="height:4px;"></tr>
                    }
                    @for (int i = Model.Members.Count(); i < 5; i++)
                    {
                        <tr class="border_display">
                            @for (int j = 0; j < 5; j++)
                            {
                                <td class="td-settings">
                                    <input type="radio" />
                                </td>
                            }
                        </tr>
                        <tr style="height:4px;"></tr>
                    }
                </table>
            </td>
        </tr>
    </table>
</div>
<div style="clear:both;">
</div>
<div id="Household_Number_And_SSN_Detail" style="margin-top:10px;">
    <div class="float-left">
        <strong>
            Total Household Members<br />
            (Children and Adults)
        </strong>
    </div>
    <div id="Number_Of_Households" class="float-left font-12" style="margin-left:62px;">
        <table>
            <tr>
                <td class="border_display td-settings">
                    @if (Model.IsStep3)
                    {
                        if (Model.Household_Size.ToString().Count() == 1)
                        {
                            <span>0</span>
                        }
                        else
                        {
                            <span>@Model.Household_Size.ToString()[0]</span>
                        }
                    }
                </td>
                <td class="border_display td-settings">
                    @if (Model.IsStep3)
                    {
                        if (Model.Household_Size.ToString().Count() == 1)
                        {
                            <span>@Model.Household_Size.ToString()[0]</span>
                        }
                        else
                        {
                            <span>@Model.Household_Size.ToString()[1]</span>
                        }
                    }
                </td>
            </tr>
        </table>
    </div>
    <div class="float-left" style="margin-left:15px;">
        <strong>
            Last Four Digits of Social Security Number (SSN) of<br />
            Primary Wage Earner or Other Adult Household Member
        </strong>
    </div>
    <div class="float-left" style="margin-left:15px;">
        <table>
            <tr>
                <td class="border_display td-settings font-15">&#10005;</td>
                <td class="border_display td-settings font-15">&#10005;</td>
                <td class="border_display td-settings font-15">&#10005;</td>
            </tr>
        </table>
    </div>
    <div class="float-left" style="margin-left:10px;">
        <table>
            <tr>
                <td class="border_display td-settings font-15">&#10005;</td>
                <td class="border_display td-settings font-15">&#10005;</td>
            </tr>
        </table>
    </div>
    <div id="Household_SSN_Number" class="float-left" style="margin-left:10px;">
        <table>
            <tr>
                @for (int i = 0; i < 4; i++)
                {
                    <td class="border_display td-settings font-12">
                        @if (!string.IsNullOrEmpty(Model.SSN) && Model.IsStep3)
                        {
                            if (Model.SSN.Count() > i)
                            {
                                <span>@Model.SSN[i]</span>
                            }
                        }
                    </td>
                }
            </tr>
        </table>
    </div>

    <div id="Household_Check_If_No_SSN" class="float-left" style="margin-left:10px; vertical-align:bottom;">
        <label><strong>Check if no SSN</strong></label>
        <input class="left-margin-10" type="checkbox" checked="@(!string.IsNullOrEmpty(Model.SSN) && Model.IsStep3)" />
    </div>
</div>
</div>
</div>
</div>
</div>
<div id="Step_4_header" class="step-header">
    <table cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td>
                <strong>STEP 4</strong>
            </td>
            <td>
                <span>Contact information and adult signature.  <strong><u>@Model.Email</u></strong></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div id="Step_4_Detail" class="font-10 middle step4">
    <div>
        "I certify (promise) that all information on this application is true and that all income is reported.  I understand that this information is given in connection with the receipt of Federal funds, and that school officials may verify (check) the information. I am aware that if I purposely give false information, my children may lose meal beneﬁts, and I may be prosecuted under applicable State and Federal laws."
    </div>
    <div style="overflow:auto; margin-top:10px;">
        <div id="Signer_Street_Address" class="float-left">
            <div class="border_display middle" style="height:20px; width:315px;">
                <span class="left-margin-5" style="vertical-align:middle;">@Model.Address1</span>
            </div>
            <div>
                <able>Street Address (if available)</able><label style="margin-left:100px;">Apt#</label>
            </div>
        </div>
        <div id="Signer_City_Name" class="float-left" style="margin-left:25px;">
            <div class="border_display" style="height:20px; width:142px;">
                <span>@Model.City</span>
            </div>
            <div>
                City
            </div>
        </div>
        <div id="Signer_State_Name" class="float-left" style="margin-left:18px;">
            <div class="border_display" style="height:20px; width:50px;">
                <span>@Model.State</span>
            </div>
            <div>
                State
            </div>
        </div>
        <div id="Signer_ZIP" class="float-left" style="margin-left:18px;">
            <div class="border_display" style="height:20px; width:83px;">
                <span>@Model.ZIP</span>
            </div>
            <div>
                Zip
            </div>
        </div>
        <div id="Signer_Daytime_Phone_And_Email" class="float-left" style="margin-left:25px;">
            <div class="border_display" style="height:20px; width:320px;">
                <span>@Model.Phone</span><span style="margin-left:10px;">@Model.Email</span>
            </div>
            <div>
                Daytime Phone and Email (optional)
            </div>
        </div>
    </div>
    <div style="overflow:auto; margin-top:10px;">
        <div id="Signer_Printed_Name" class="float-left">
            <div class="border_display" style="height:20px; width:315px;">
                <span>@Model.App_Signer_Name</span>
            </div>
            <div>
                Printed name of adult signing the form
            </div>
        </div>
        <div id="Signer_Signature" class="float-left" style="margin-left:25px;">
            <div class="border_display" style="height:20px; width:315px;">
                <span>@Model.App_Signer_Name</span>
            </div>
            <div>
                Signature of adult
            </div>
        </div>
        <div id="Signer_Today_Date" class="float-left" style="margin-left:25px;">
            <div class="border_display" style="height:20px; width:320px;">
                <span>@DateTime.Now</span>
            </div>
            <div>
                Today’s date
            </div>
        </div>
    </div>
</div>
<div class="page-break"></div>
<div id="Instructions_Header" class="step-header">
    <table cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td>
                <strong>INSTRUCTIONS</strong>
            </td>
            <td>
                <span>Sources of Income</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div id="Instruction_Detail" class="instructions-step">
    <div Id="Sources_Of_Income_For_Children" style="width:48%; float:left; display:flex;">
        <table class="first-table left-margin-10">
            <tr>
                <td colspan="4">
                    Sources of Income for Children
                </td>
            </tr>
            <tr>
                <td>
                    Sources of Child Income
                </td>
                <td>
                    Example(s)
                </td>
            </tr>
            <tr>
                <td>
                    - Earnings from work
                </td>
                <td>
                    - A child has a regular full or part-time job<br />
                    where they earn a salary or wages
                </td>
            </tr>
            <tr>
                <td>
                    - Social Security<br />
                    - Disability Payments<br />
                    - Survivor’s Benefits
                </td>
                <td>
                    <span>
                        - A child is blind or disabled and receives Social Security benefits
                    </span><br />
                    <span>
                        -  A parent is disabled, retired, or deceased, and their child receives Social Security benefits
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    -Income from person outside the household
                </td>
                <td>
                    - A friend or extended family member
                    regularly gives a child spending money
                </td>
            </tr>
            <tr>
                <td>
                    -Income from any other source
                </td>
                <td>
                    - A child receives regular income from a
                    private pension fund, annuity, or trust
                </td>
            </tr>
        </table>
    </div>
    <div id="Sources_Of_Income_For_Adults" class="float-left" style="width:48%; margin-left:25px;">
        <table class="second-table">
            <tr>
                <td colspan="4">
                    <b>Sources of Income for Adults</b>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Earnings from Work</b>
                </td>
                <td>
                    <b>Public Assistance/<br />
                    Alimony/Child Support</b>
                </td>
                <td>
                    <b>Pensions/ Retirement/<br />
                    All Other Income</b>
                </td>
            </tr>
            <tr>
                <td>
                    - Salary, wages, cash
                    bonuses<br />
                    - Net income from self-employment (farm or
                    business)<br /><br />
                        
                    If you are in the U.S. Military:<br /><br />
                    - Basic pay and cash bonuses
                    (do NOT include combat pay,
                    FSSA or privatized  housing
                    allowances)<br />
                    - Allowances for off -base housing,
                    food and clothing
                </td>
                <td>
                    - Unemployment benefits<br />
                    - Worker’s compensation<br />
                    - Supplemental Security
                    Income (SSI)<br />
                    - Cash assistance from
                    State or local
                    government<br />
                    - Alimony payments<br />
                    - Child support payments<br />
                    - Veteran’s benefits<br />
                    - Strike benefits
                </td>
                <td>
                    - Social Security
                    (including railroad
                    retirement and black lung
                    benefits)<br />
                    -Private pensions or
                    disability benefits<br />
                    -Regular income from
                    trusts or estates<br />
                    - Annuities<br />
                    - Investment income<br />
                    - Earned interest<br />
                    - Rental income<br />
                    -Regular cash payments
                    from outside household
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="Optional_Section_Header" class="step-header">
    <table cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td>
                <strong>OPTIONAL</strong>
            </td>
            <td>
                <span>Children's Racial and Ethnic Identities</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div id="Optional_Section_Detail" class="font-10" style="overflow:auto; margin-top:10px;">
    <div>
        We are required to ask for information about your children’s race and ethnicity. This information is important and helps to make sure we are fully serving our community.
        Responding to this section is optional and does not affect your children’s eligibility for free or reduced price meals.
    </div>
    <div id="Children_Ethnicity" class="inner-divs-float-left" style="margin-top:8px; overflow:auto; align-items:center">
        <div>
            Ethnicity (check one):
        </div>
        <div style="margin-left:45px;">
            <input type="checkbox" checked="@(Model.Ethnicity == "1")" />
            <lable>Hispanic or Latino</lable>
        </div>
        <div style="margin-left:30px;">
            <input type="checkbox" checked="@(Model.Ethnicity == "2")" />
            <lable>Not Hispanic or Latino</lable>
        </div>
    </div>
    <div id="Children_Race" class="inner-divs-float-left" style="overflow:auto; align-items:center">
        <div>
            Race (check one or more):
        </div>
        <div style="margin-left:30px;">
            <input type="checkbox" checked="@(Model.Race.Contains("American Indian"))" />
            <lable>American Indian or Alaskan Native</lable>
        </div>
        <div style="margin-left:30px;">
            <input type="checkbox" checked="@(Model.Race.Contains("Asian"))" />
            <lable>Asian</lable>
        </div>
        <div style="margin-left:30px;">
            <input type="checkbox" checked="@(Model.Race.Contains("Black"))" />
            <lable>Black or African American</lable>
        </div>
        <div style="margin-left:30px;">
            <input type="checkbox" checked="@(Model.Race.Contains("Native Hawaiian"))" />
            <lable>Native Hawaiian or Other Pacific Islander</lable>
        </div>
        <div style="margin-left:30px;">
            <input type="checkbox" checked="@(Model.Race.Contains("White"))" />
            <lable>White</lable>
        </div>
    </div>
    <hr style="margin-top:8px;" />
    <div class="font-9" style="overflow:auto; width:100%; word-wrap:break-word;">
        <div style="float:left; width:47%;">
            The <strong>Richard B. Russell National School Lunch Act</strong> requires the information on this application. You do
            not have to give the information, but if you do not, we cannot approve your child for free or reduced price
            meals. You must include the last four digits of the social security number of the adult household member who
            signs the application. The last four digits of the social security number is not required when you apply on
            behalf of a foster child or you list a Supplemental Nutrition Assistance Program (SNAP), Temporary
            Assistance for Needy Families (TANF) Program or Food Distribution Program on Indian Reservations
            (FDPIR) case number or other FDPIR identifier for your child or when you indicate that the adult household
            member signing the application does not have a social security number. We will use your information to
            determine if your child is eligible for free or reduced price meals, and for administration and enforcement of
            the lunch and breakfast programs. We MAY share your eligibility information with education, health, and
            nutrition programs to help them evaluate, fund, or determine benefits for their programs, auditors for
            program reviews, and law enforcement officials to help them look into violations of program rules.
            <br />
            <br />
            In accordance with Federal civil rights law and U.S. Department of Agriculture (USDA) civil rights regulations
            and policies, the USDA, its Agencies, offices, and employees, and institutions participating in or
            administering USDA programs are prohibited from discriminating based on race, color, national origin, sex,
            disability, age, or reprisal or retaliation for prior civil rights activity in any program or activity conducted or
            funded by USDA.
        </div>
        <div style="float:left; width:47%; margin-left:20px;">
            Persons with disabilities who require alternative means of communication for program information (e.g. Braille,
            large print, audiotape, American Sign Language, etc.), should contact the Agency (State or local) where they
            applied for benefits. Individuals who are deaf, hard of hearing or have speech disabilities may contact USDA
            through the Federal Relay Service at (800) 877-8339. Additionally, program information may be made
            available in languages other than English.
            <br />
            <br />
            <b>To file a program complaint of discrimination</b>, complete the USDA Program Discrimination Complaint
            Form, (AD-3027) found online at: http://www.ascr.usda.gov/complaint_filing_cust.html, and at any USDA
            office, or write a letter addressed to USDA and provide in the letter all of the information requested in the
            form. To request a copy of the complaint form, call (866) 632-9992. Submit your completed form or letter to
            USDA by:
            <br />
            <div style="overflow:auto; width:100%;">
                <div style="float:left; width:300px;">
                    <table>
                        <tr>
                            <td style="width:50px;">
                                <span style="width:50px;">mail:</span>
                            </td>
                            <td>U.S. Department of Agriculture</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Office of the Assistant Secretary for Civil Rights</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>1400 Independence Avenue, SW</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Washington, D.C. 20250-9410</td>
                        </tr>
                        <tr>
                            <td>
                                fax:
                            </td>
                            <td>
                                (202) 690-7442; or
                            </td>
                        </tr>
                        <tr>
                            <td>
                                email:
                            </td>
                            <td>
                                program.intake@usda.gov.
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="float:left; word-wrap:break-word; width:130px;">
                    <strong>
                        <b>
                            *Only use this address if you
                            are filing a complaint of
                            discrimination
                        </b>
                    </strong>
                </div>
            </div>
            This institution is an equal opportunity provider
        </div>
    </div>
</div>
<div id="Do_Not_Fill_Out_Header" class="step-header">
    <table cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td>
                <strong>Do not fill out</strong>
            </td>
            <td>
                <span>For School Use Only</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div style="margin-top:8px; overflow:auto;">
    <div>
        Annual Income Conversion: Weekly x 52, Every 2 Weeks x 26, Twice a Month x 24 Monthly x 12
    </div>
    <div id="Total_Income" style="float:left; margin-top:12px;">
        <table>
            <tr>
                <td>
                    Total Income
                </td>
            </tr>
            <tr>
                <td>
                    <div class="border_display font-12 middle" style="width:205px; height:20px;">
                        @if (Model.TotalIncome.HasValue && Model.IsStep3)
                        {
                            <span class="left-margin-5">@Model.TotalIncome.ToString()</span>
                        }
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="Total_Income_How_Often" style="float:left;">
        <table class="font-8 text-center" cellpadding="0" cellspacing="0" style="margin-left:5px; white-space:nowrap;">
            <tr>
                <td colspan="4">
                    How often?
                </td>
            </tr>
            <tr class="border_display" style="border-collapse:collapse;">
                <td class="border_display income-type-header">Weekly</td>
                <td class="border_display income-type-header">Bi-Weekly</td>
                <td class="border_display income-type-header">2x Month</td>
                <td class="border_display income-type-header">Monthly</td>
                <td class="border_display income-type-header">Yearly</td>
            </tr>
            <tr class="border_display">
                @for (int j = 1; j <= 5; j++)
                {
                    <td class="td-settings">
                        <input type="radio" checked="@(Model.TotalIncomeFreq == j && Model.IsStep3)" />
                    </td>
                }
            </tr>
        </table>
    </div>
    <div id="Total_Household_Size" class="float-left left-margin-10" style="margin-top:11px;">
        <table>
            <tr>
                <td>
                    Household Size
                </td>
            </tr>
            <tr>
                <td>
                    <div class="border_display font-12 middle" style="width:100px; height:20px;">
                        @if (Model.Household_Size.HasValue && Model.IsStep3)
                        {
                            <span class="left-margin-5">@Model.Household_Size.ToString()</span>
                        }
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="Categorical_Eligibility" class="float-left font-12" style="margin-left:30px; margin-top:28px;">
        <lable><strong>Categorical Eligibility</strong></lable>
        <input type="checkbox" />
    </div>
    <div id="Eligibility_Free_Reduce_Denied" style="float:left; margin-left:40px;">
        <table class="font-8 text-center" cellpadding="0" cellspacing="0" style="margin-left:5px; white-space:nowrap;">
            <tr>
                <td colspan="3">
                    Eligibility:
                </td>
            </tr>
            <tr class="border_display" style="border-collapse:collapse;">
                <td class="border_display all-padding-3">Free</td>
                <td class="border_display all-padding-3">Reduced</td>
                <td class="border_display all-padding-3">Denied</td>
            </tr>
            <tr class="border_display" style="border-collapse:collapse;">
                @for (int j = 0; j < 3; j++)
                {
                    <td class="td-settings">
                        <input type="radio" />
                    </td>
                }
            </tr>
        </table>
    </div>
</div>
<div id="Official_Signatures" style="margin-top:0px; overflow:auto;">
    <div id="Determing_Official_Signature" style="float:left;">
        <table>
            <tr>
                <td>
                    Determining Official’s Signature
                </td>
            </tr>
            <tr>
                <td>
                    <div class="border_display" style="width:230px; height:20px;">

                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="Official_Signature_Date" style="float:left; margin-left:5px;">
        <table>
            <tr>
                <td>
                    Date
                </td>
            </tr>
            <tr>
                <td>
                    <div class="border_display" style="width:80px; height:20px;">

                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="Confirming_Official_Signature" style="float:left; margin-left:15px;">
        <table>
            <tr>
                <td>
                    Confirming Official’s Signature
                </td>
            </tr>
            <tr>
                <td>
                    <div class="border_display" style="width:210px; height:20px;">

                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="Confirming_Official_Date" style="float:left; margin-left:5px;">
        <table>
            <tr>
                <td>
                    Date
                </td>
            </tr>
            <tr>
                <td>
                    <div class="border_display" style="width:80px; height:20px;">

                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="Verifying_Official_Signature" style="float:left; margin-left:15px;">
        <table>
            <tr>
                <td>
                    Verifying Official’s Signature
                </td>
            </tr>
            <tr>
                <td>
                    <div class="border_display" style="width:210px; height:20px;">

                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="Verifying_Official_Signature_Date" style="float:left; margin-left:5px;">
        <table>
            <tr>
                <td>
                    Date
                </td>
            </tr>
            <tr>
                <td>
                    <div class="border_display" style="width:80px; height:20px;">
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
</div>
<div class="page-break"></div>

